.elementor-897 .elementor-element.elementor-element-0e8afef > .elementor-container{min-height:70px;}.elementor-897 .elementor-element.elementor-element-0e8afef > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-897 .elementor-element.elementor-element-0e8afef{margin-top:0px;margin-bottom:0px;padding:10px 0px 0px 0px;z-index:998;}.elementor-897 .elementor-element.elementor-element-80b9b89 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 10px 0px 10px;}.elementor-897 .elementor-element.elementor-element-a2ca94d{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-897 .elementor-element.elementor-element-32dc780.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-897 .elementor-element.elementor-element-32dc780.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-897 .elementor-element.elementor-element-32dc780.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-897 .elementor-element.elementor-element-32dc780 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-0ee81b1 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-0ee81b1{z-index:999;}.elementor-bc-flex-widget .elementor-897 .elementor-element.elementor-element-254bbe5.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-897 .elementor-element.elementor-element-254bbe5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-897 .elementor-element.elementor-element-254bbe5.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-897 .elementor-element.elementor-element-254bbe5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-menu-toggle{margin-left:auto;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu .elementor-item{font-family:"Poppins", arial;font-size:18px;font-weight:500;text-transform:capitalize;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );padding-left:15px;padding-right:15px;padding-top:10px;padding-bottom:10px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item:hover,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed .elementor-item:before,
					.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FF7900;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#FFFFFF00;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#FFFFFF00;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed .elementor-item:before{border-width:1px;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 1px 1px;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:1px 1px 0 0;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:1px 0 0 1px;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 1px 1px 0;}.elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-underline .elementor-item:after,
					 .elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-overline .elementor-item:before,
					 .elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-double-line .elementor-item:before,
					 .elementor-897 .elementor-element.elementor-element-a35291d .e--pointer-double-line .elementor-item:after{height:1px;}.elementor-897 .elementor-element.elementor-element-a35291d{--e-nav-menu-horizontal-menu-item-margin:calc( 10px / 2 );width:auto;max-width:auto;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:10px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a, .elementor-897 .elementor-element.elementor-element-a35291d .elementor-menu-toggle{color:var( --e-global-color-primary );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a:hover,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a.highlighted,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-menu-toggle:hover{color:var( --e-global-color-primary );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a:hover,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-7a25ff1 );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-accent );background-color:#02010100;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown .elementor-item, .elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Poppins", arial;font-size:16px;font-weight:normal;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown{border-radius:5px 5px 5px 5px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown li:first-child a{border-top-left-radius:5px;border-top-right-radius:5px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown li:last-child a{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.22);}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a{padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;}.elementor-897 .elementor-element.elementor-element-a35291d div.elementor-menu-toggle{color:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d div.elementor-menu-toggle svg{fill:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d div.elementor-menu-toggle:hover{color:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d div.elementor-menu-toggle:hover svg{fill:var( --e-global-color-accent );}.elementor-897 .elementor-element.elementor-element-a35291d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-0b395c4 .elementor-button{font-size:15px;font-weight:bold;fill:#000000;color:#000000;background-color:#FF780061;border-style:solid;border-width:0px 0px 0px 0px;border-radius:25px 25px 25px 25px;padding:14px 18px 12px 18px;}.elementor-897 .elementor-element.elementor-element-0b395c4 .elementor-button:hover, .elementor-897 .elementor-element.elementor-element-0b395c4 .elementor-button:focus{color:var( --e-global-color-59aa0b6 );background-color:var( --e-global-color-d1cbe24 );}.elementor-897 .elementor-element.elementor-element-0b395c4 .elementor-button:hover svg, .elementor-897 .elementor-element.elementor-element-0b395c4 .elementor-button:focus svg{fill:var( --e-global-color-59aa0b6 );}.elementor-897 .elementor-element.elementor-element-0b395c4 > .elementor-widget-container{margin:0px 0px 0px 10px;}.elementor-897 .elementor-element.elementor-element-0b395c4{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-897 .elementor-element.elementor-element-0e8afef > .elementor-container{min-height:55px;}.elementor-897 .elementor-element.elementor-element-0e8afef{margin-top:0px;margin-bottom:0px;padding:5px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-80b9b89 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main .elementor-item{padding-left:15px;padding-right:15px;padding-top:10px;padding-bottom:10px;}.elementor-897 .elementor-element.elementor-element-a35291d{--e-nav-menu-horizontal-menu-item-margin:calc( 5px / 2 );}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:5px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown .elementor-item, .elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:13px;}.elementor-897 .elementor-element.elementor-element-a35291d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-0b395c4 > .elementor-widget-container{margin:0px 5px 0px 5px;}}@media(max-width:880px){.elementor-897 .elementor-element.elementor-element-0e8afef{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-897 .elementor-element.elementor-element-0e8afef > .elementor-container{min-height:50px;}.elementor-897 .elementor-element.elementor-element-0e8afef{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-80b9b89 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-897 .elementor-element.elementor-element-a2ca94d{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-897 .elementor-element.elementor-element-32dc780{width:50%;}.elementor-897 .elementor-element.elementor-element-254bbe5{width:50%;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown .elementor-item, .elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:15px;}.elementor-897 .elementor-element.elementor-element-a35291d .elementor-nav-menu--dropdown a{padding-left:30px;padding-right:30px;}.elementor-897 .elementor-element.elementor-element-a35291d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-897 .elementor-element.elementor-element-32dc780{width:20%;}.elementor-897 .elementor-element.elementor-element-254bbe5{width:80%;}}@media(max-width:1024px) and (min-width:768px){.elementor-897 .elementor-element.elementor-element-32dc780{width:20%;}.elementor-897 .elementor-element.elementor-element-254bbe5{width:80%;}}/* Start custom CSS for html, class: .elementor-element-0ee81b1 */.elementor-897 .elementor-element.elementor-element-0ee81b1 svg:hover .clslogoanim-1{animation: mainanimh infinite 1.5s;}
   @keyframes mainanimh{
0%{opacity: 1; transform: translate(8px, -5px) rotate(12.68deg);}
10%{opacity: 1; transform: translate(8px, -5px) rotate(12.68deg);}
40%{opacity:0; transform: rotate(12.68deg) translate(4px, -2px);}   
41%{opacity: 0; transform: translate(15px, -10px) rotate(12.68deg) ; }
42%{opacity: 1; transform: translate(15px, -10px) rotate(12.68deg); }
75%{opacity: 1; transform: translate(8px, -5px) rotate(12.68deg);}
100%{opacity: 1; transform: translate(8px, -5px) rotate(12.68deg);}

   }/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-a35291d */.elementor-897 .elementor-element.elementor-element-a35291d  li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children a .sub-arrow svg{
transform: scale(.7) rotate(0deg);
transition: transform .7s ease; 
}
.elementor-897 .elementor-element.elementor-element-a35291d  li:hover.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children a .sub-arrow svg{
transform: scale(.7) rotate(270deg);
transition: transform .7s ease; 
}

@keyframes asdf{
	from{opacity:0; transform: translateY(-75px) scaleY(.25);}
	to{opacity:1;transform: translateY(0px) scaleY(1);}
}
.elementor-897 .elementor-element.elementor-element-a35291d  .sub-menu.elementor-nav-menu--dropdown.sm-nowrap{
 animation-name:asdf;
	animation-duration: .3s;
}

.elementor-897 .elementor-element.elementor-element-a35291d  li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children .sub-menu.elementor-nav-menu--dropdown.sm-nowrap{
opacity: 0;
transition: all .3s;
transform: translateY(-75px) scaleY(.25);
}
.elementor-897 .elementor-element.elementor-element-a35291d  li:hover.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children .sub-menu.elementor-nav-menu--dropdown.sm-nowrap{
opacity: 1;
transform: translateY(0px) scaleY(1);
transition: all .3s;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0e8afef *//*main*/
.elementor-897 .elementor-element.elementor-element-0e8afef.main-section{
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important;
overflow: visible !important;    
}
/*res*/
.elementor-897 .elementor-element.elementor-element-0e8afef.main-section.elementor-sticky--effects{
margin-top: 15px !important;
padding: 0px 10px;
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important;
overflow: visible !important;
}
/*main end*/
/*container*/
.elementor-897 .elementor-element.elementor-element-0e8afef >.elementor-container{
max-width: 1280px;
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important; 
overflow: visible !important;
}
/**/
.elementor-897 .elementor-element.elementor-element-0e8afef.elementor-sticky--effects >.elementor-container{
    max-width: 1190px;
background-color: #ffffff00!important;
-webkit-backdrop-filter: saturate(180%) blur(5px);
        backdrop-filter: saturate(180%) blur(5px);
border-radius:10px !important;
-webkit-box-shadow: 0px 0px 10px -4px #00000038;
box-shadow: 0px 0px 10px -4px #00000038;
min-height: 75px !important;
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important;  
}
/*container end*/
/*logo*/
.header-logo{
width: 100%;
max-width: 160px;
max-height: 55px;
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important;
}
/**/
.elementor-sticky--effects .header-logo{
max-width: 130px !important;
max-height: 45px;
-webkit-transition: all .5s ease !important;
-o-transition: all .5s ease !important;
transition: all .5s ease !important;
}
/*logo end*/
/**/
@media (max-width:1024px) {
.elementor-897 .elementor-element.elementor-element-0e8afef.elementor-sticky--effects >.elementor-container{
	min-height: 55px !important;
}
.elementor-897 .elementor-element.elementor-element-0e8afef.main-section.elementor-sticky--effects{ 
margin-top: 10px !important;
}
.header-logo{
width: 100%;
max-width: 140px;
max-height: 40px;
}
.elementor-sticky--effects .header-logo{
max-width: 120px !important;
max-height: 40px;
}
}
@media (max-width:880px) {
.elementor-897 .elementor-element.elementor-element-0e8afef.elementor-sticky--effects >.elementor-container{
min-height: 50px !important;
}
.elementor-897 .elementor-element.elementor-element-0e8afef.main-section.elementor-sticky--effects{ 
margin-top: 8px !important;
}
.header-logo{
width: 100%;
max-width: 150px;
max-height: 40px;
}
.elementor-sticky--effects .header-logo{
max-width: 120px !important;
max-height: 40px;
}
    }
@media (max-width:768px) {
.elementor-897 .elementor-element.elementor-element-0e8afef.elementor-sticky--effects >.elementor-container{
min-height: 50px !important;
        }
.elementor-897 .elementor-element.elementor-element-0e8afef.main-section.elementor-sticky--effects{ 
margin-top: 8px !important;
}
.header-logo{
width: 100%;
max-width: 130px;
max-height: 37px;
}
.elementor-sticky--effects .header-logo{
max-width: 110px !important;
max-height: 37px;
}
}
@-moz-document url-prefix() {
.elementor-897 .elementor-element.elementor-element-0e8afef.elementor-sticky--effects >.elementor-container {
background-color: #ffffffe6!important;
}
}/* End custom CSS */